<html>
    <body>
        <img src="images/ASP-NET-Banners-01.png" />
        @("Hello World")
        <input type="text" id="txtName">
        <input type="button" value="submit" onclick="alert('Hello,'+document.getElementById('txtName').value)">
    </body>
</html>